@media only screen and (min-width: 1200px){
  .container {
    max-width: 1320px !important; 
    padding: 0 15px;
  }
}
 @media (max-width: 1350px) {
  .container {
    margin: 0 30px;
  }
 }

 @media (max-width: 1199px) {
  .navbar ul {
    gap: 25px;
  }
  
 .brand-logo img {
  height: 50px;
  }
 }

 @media (min-width: 992px) {
  .contact-us-menu{
    display: none;
  }
 }


@media (max-width: 991px) {
  .container {
    margin: 0px 20px;
  }
  .header-area {
    padding: 20px 0px;
  }
}

@media (max-width: 650px) {

}
@media (max-width: 520px) {
  .counter-wrapper,
  .working-wrapper{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}

@media (max-width: 400px) {

}